nav { /* оформлення блоку меню з використанням CSS стилів  */
display: block;
float: left; /* вирівнювання по лівому краю */
min-height: 500px; /* мінімальна висота */
width: 300px;  /* ширина меню 300 пікселів */
}
header { /* параметри заголовка */
display: block;	
height: 100px; /* висота 300 пікселів */
}
#content { /* параметри блоку тексту сторінки та меню*/
min-height: 500px; /* мінімальна висота */
height: auto; /* висота блоку автоматично збільшується */
}
footer{ /* параметри нижнього колонтитула */
display: block;
height: 100px;	
clear: both; /* заборонено обтікання колонтитула іншими елементами */
}
#rightColumn { /* параметри тексту сторінки */
float: left; /* вирівнювання блоку  по лівому краю */
min-height: 500px; /* мінімальна висота */
width: 800px; /* ширина блоку тексту 600 пікселів */
text-align: justify; /* вирівнювання тексту  по ширині */
}
nav1 { /* оформлення блоку меню з використанням CSS стилів  */
display: block;
float: right; /* вирівнювання по правому краю */
min-height: 500px; /* мінімальна висота */
width: 300px;  /* ширина меню 300 пікселів */
}
header { /* параметри заголовка */
display: block;	
height: 100px; /* висота 300 пікселів */
}
#content { /* параметри блоку тексту сторінки та меню*/
min-height: 500px; /* мінімальна висота */
height: auto; /* висота блоку автоматично збільшується */
}
footer{ /* параметри нижнього колонтитула */
display: block;
height: 100px;	
clear: both; /* заборонено обтікання колонтитула іншими елементами */
}
#rightColumn { /* параметри тексту сторінки */
float: left; /* вирівнювання блоку  по лівому краю */
min-height: 500px; /* мінімальна висота */
width: 800px; /* ширина блоку тексту 600 пікселів */
text-align: justify; /* вирівнювання тексту  по ширині */
}
body{
    font-family: 'Kaushan Script', cursive;
    font-size: 19px;
    color:black;
    line-height: 35px;
    background: url("041.jpg")center no-repeat;
    background-size: 1000%;
}
